<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623002331049-4388hhe9i4frc0b6ski7pl4s968faaba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623002331049-4388hhe9i4frc0b6ski7pl4s968faaba</string>
	<key>API_KEY</key>
	<string>AIzaSyCG9ZAtjgnmU3mdRh1DCF0ndIkoNT_yhm4</string>
	<key>GCM_SENDER_ID</key>
	<string>623002331049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinnbyte.PimptUp</string>
	<key>PROJECT_ID</key>
	<string>pimptup</string>
	<key>STORAGE_BUCKET</key>
	<string>pimptup.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623002331049:ios:20396dd53f93dc4939c6b8</string>
	<key>DATABASE_URL</key>
	<string>https://pimptup.firebaseio.com</string>
</dict>
</plist>